
@{
    Layout = "../Shared/_Navbar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Education</title>
</head>
<body class="w-full h-screen">
    <div class="flex w-full justify-center space-x-[100px] h-[500px] mt-[120px]">
        <div class="w-[25%] flex flex-col items-center rounded-xl bg-[#cce7e8] shadow-md">
            <div class="border-b border-black w-full flex justify-center font-bold text-5xl italic pt-3 pb-3">
                S.S.C
            </div>
            <div class="flex flex-col pt-5 items-center font-medium text-center">
                <br />
                <p class="p-3"><span class="font-bold">School: </span>Shaheed Police Smrity College</p>
                <p class="p-3"><span class="font-bold">Venue: </span>Mirpur Bangla College</p>
                <p class="p-3"><span class="font-bold">GPA: </span>5.00</p>
                <p class="p-3"><span class="font-bold">Academic Year: </span>2015-2017</p>
            </div>
        </div>
        <div class="w-[25%] flex flex-col items-center rounded-xl bg-[#cce7e8]  shadow-md">
            <div class="border-b border-black w-full flex justify-center font-bold text-5xl italic pt-3 pb-3">
                H.S.C
            </div>
            <div class="flex flex-col pt-5 items-center font-medium text-center">
                <br />
                <p class="p-3"><span class="font-bold">College: </span>Govt. Science College</p>
                <p class="p-3"><span class="font-bold">Venue: </span>Mirpur Girls Ideal College</p>
                <p class="p-3"><span class="font-bold">GPA: </span>5.00</p>
                <p class="p-3"><span class="font-bold">Academic Year: </span>2017-2019</p>
            </div>
        </div>
        <div class="w-[25%] flex flex-col items-center rounded-xl bg-[#cce7e8] shadow-md">
            <div class="border-b border-black w-full flex justify-center font-bold text-5xl italic pt-3 pb-3">
                B.S.C
            </div>
            <div class="flex flex-col pt-5 items-center font-medium text-center">
                <br />
                <p class="p-3"><span class="font-bold">University: </span>American International University - Bangladesh</p>
                <p class="p-3"><span class="font-bold">Venue: </span>American International University - Bangladesh</p>
                <p class="p-3"><span class="font-bold">CGPA: </span>3.99</p>
                <p class="p-3"><span class="font-bold">Academic Year: </span>2019-2023</p>
            </div>
        </div>
    </div>
</body>
</html>
