
@{
    Layout = "../Shared/_Navbar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
    
</head>
<body class="h-screen">
    <div class="w-full h-auto">
        <div class="flex text-2xl w-full justify-center border-b-[1px] h-auto">
            <div class="w-[50%] flex justify-center border-r-[1px] pb-[100px] pt-[100px]">
                <div class="w-[80%]">I've done a few projects with NextJS and Tailwind CSS. This page was made using ASP.NET and Tailwind CSS. I'm still a Junior developer but I've learned quite a few modern technologies to build descent websites.</div>
            </div>
            <div class="w-[50%] flex justify-center pb-[100px] pt-[100px]">
                <div class="w-[80%]">I've done a few projects with NextJS and Tailwind CSS. This page was made using ASP.NET and Tailwind CSS. I'm still a Junior developer but I've learned quite a few modern technologies to build descent websites.</div>
            </div>
        </div>

        <div class="text-3xl mt-[40px] w-full flex justify-center italic font-bold">
            Projects
        </div>

        <div class="flex flex-col flex-grow mt-[50px]">
            <div id="row-1" class="relative flex h-[200px] justify-center space-x-[100px]">
                <div id="project-1" class="relative w-[25%] overflow-hidden shadow-md">

                    <div class="slide-1 w-full absolute"  style="display:block">
                        <img class="" src="https://dummyimage.com/600x400/000000/0011ff" />
                    </div>
                    <div class="slide-2 w-full absolute" style="display:none">
                        <img class="" src="https://dummyimage.com/600x400/ff00ff/0011ff" />
                    </div>
                    <div class="slide-3 w-full absolute" style="display:none">
                        <img class="" src="https://dummyimage.com/600x400/6bffa4/0011ff" />
                    </div>

                    <div id="hello" class="mt-[70px] absolute ml-[5px]">
                        <button class="prevSlide w-6 rounded-full bg-[#ECECEC] hover:brightness-90 hover:transition"><img class="p-1" src="../../content/images/arrow-left.png" /></button>
                    </div>

                    <div class="absolute mt-[70px] ml-[220px] z-50">
                        <button class="nextSlide w-6 ml-auto rounded-full bg-[#ECECEC] hover:brightness-90 hover:transition"><img class="p-1" src="../../content/images/arrow-right.png" /></button>
                    </div>

                </div>


                <div id="project-2" class="relative w-[25%] overflow-hidden shadow-md">

                    <div class="slide-1 w-full absolute" style="display:block">
                        <img class="" src="https://dummyimage.com/600x400/000000/0011ff" />
                    </div>
                    <div class="slide-2 w-full absolute" style="display:none">
                        <img class="" src="https://dummyimage.com/600x400/ff00ff/0011ff" />
                    </div>
                    <div class="slide-3 w-full absolute" style="display:none">
                        <img class="" src="https://dummyimage.com/600x400/6bffa4/0011ff" />
                    </div>

                    <div id="hello" class="mt-[70px] absolute ml-[5px]">
                        <button class="prevSlide w-6 rounded-full bg-[#ECECEC] hover:brightness-90 hover:transition"><img class="p-1" src="../../content/images/arrow-left.png" /></button>
                    </div>

                    <div class="absolute mt-[70px] ml-[220px] z-50">
                        <button class="nextSlide w-6 ml-auto rounded-full bg-[#ECECEC] hover:brightness-90 hover:transition"><img class="p-1" src="../../content/images/arrow-right.png" /></button>
                    </div>

                </div>

                <div id="project-3" class="relative w-[25%] overflow-hidden shadow-md">

                    <div class="slide-1 w-full absolute" style="display:block">
                        <img class="" src="https://dummyimage.com/600x400/000000/0011ff" />
                    </div>
                    <div class="slide-2 w-full absolute" style="display:none">
                        <img class="" src="https://dummyimage.com/600x400/ff00ff/0011ff" />
                    </div>
                    <div class="slide-3 w-full absolute" style="display:none">
                        <img class="" src="https://dummyimage.com/600x400/6bffa4/0011ff" />
                    </div>

                    <div id="hello" class="mt-[70px] absolute ml-[5px]">
                        <button class="prevSlide w-6 rounded-full bg-[#ECECEC] hover:brightness-90 hover:transition"><img class="p-1" src="../../content/images/arrow-left.png" /></button>
                    </div>

                    <div class="absolute mt-[70px] ml-[220px] z-50">
                        <button class="nextSlide w-6 ml-auto rounded-full bg-[#ECECEC] hover:brightness-90 hover:transition"><img class="p-1" src="../../content/images/arrow-right.png" /></button>
                    </div>

                </div>

            </div>

            <div>

            </div>

        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="../../content/js/Carousel.js"></script>
</body>
</html>
